name: UnitTest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y valac build-essential meson valadoc libglib2.0-dev ninja-build

    - name: UnitTest
      run: meson setup build && meson test -C build
